<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>

		<% if params[:controller] == "spree/home" %>
			<% @style = "background: url(/01.jpg) white fixed;" %>
		<% elsif params[:controller] == "spree/products"%>
			<% @style = "background: url(/02.jpg) white fixed;" %>
		<% elsif params[:controller] == "spree/contact"%>
			<% @style = "background: url(/03.jpg) white fixed;" %>
		<% else %>
			<% @style ="background: url(/04.jpg) white fixed;" %>
		<% end %>
  </head>


	
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body" style="<%= @style %>">
  	<div class="toppy row">
			<div class="columns sixteen">
				<div class="container">
					<header id="header" class="row" data-hook>
				
				  	<figure id="logo" class="columns alpha six" data-hook>
			        <%= logo %>
			      </figure> 
				
						<div class="columns omega ten" data-hook>
						
							<!-- <div class="row" data-hook> -->
								<nav id="top-nav-bar" class="columns alpha ten">
					        <ul id="nav-bar" class="inline" data-hook>
					          <%= render :partial => 'spree/shared/nav_bar' %>
					        </ul>
					      </nav>

					      <% if store_menu? %>
					        <nav class="columns alpha omega ten">
					          <ul id="main-nav-bar" class="inline" data-hook>            
					            <%= render :partial => 'spree/shared/store_menu' %>
					          </ul>
					        </nav>
					      <% end %>
							<!-- </div> -->
					
						</div><!-- columns omega ten -->
					</header>
				</div>
			</div><!-- columns sixteen -->
		</div><!-- row -->
          
    

    <div class="container">

      <div id="wrapper" class="row" data-hook>
				<% if content_for?(:featured) %>
          <div id="featured" class="columns sixteen" data-hook>
            <%= yield :featured %>
          </div>
        <% end %>
        
        <% if content_for?(:sidebar) %>
          <aside id="sidebar" class="columns alpha four" data-hook>
            <%= yield :sidebar %>
          </aside>
        <% end %>

        <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
          <%= breadcrumbs(@taxon) %>
          <%= flash_messages %>
          <%= yield %>
        </div>

      </div>

      <footer id="footer" class="row" data-hook>
        <div id="footer-left" class="columns four" data-hook>
          <h3>Contact Us</h3>
					<p>Call Us: 123124124124</p>
        </div>
				<div id="footer-middleleft" class="columns four" data-hook>
        	<a href="http://www.facebook.com/">Facebook</a>
        </div>
				<div id="footer-middleright" class="columns four" data-hook>
        	<a href="https://twitter.com/circuitdepot" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @circuitdepot</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div id="footer-right" class="columns four" data-hook>
        	<ul>
						<li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
						<li id="about-link" data-hook><%= link_to t(:about_us), "/about" %></li>
						<li id="products-link" data-hook><%= link_to t(:products), products_path %></li>
						<li id="contact-link" data-hook><%= link_to t(:contact), contact_path %> </li>
						
						
						
					</ul>
        </div>
      </footer>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </body>

</html>
