<h1><%= t(:user_account) %></h1>

<table>
	<dt><%= t(:user_name) %></dt>
  <dd><%= @user.user_name %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
	<dt><%= t(:user_lastname) %></dt>
  <dd><%= @user.user_lastname %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
	<dt><%= t(:company_name) %></dt>
  <dd><%= @user.company_name %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
	<dt><%= t(:address) %></dt>
  <dd><%= @user.address %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
	<dt><%= t(:phone) %></dt>
  <dd><%= @user.phone %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
  <dt><%= t(:email) %></dt>
  <dd><%= @user.email %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
  <!-- <tr data-hook="email">
    <th><%= t(:email) %></th>
    <td>
      <%= @user.email %>
    </td>
  </tr> -->
  <tr data-hook="roles">
    <th><%= t(:roles) %></th>
    <td>
      <%= list_roles(@user) %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @user, :class => 'edit_user' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>
